apiVersion: apps/v1
kind: Deployment
metadata:
  name: sap-web
  labels:
    app: sap-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sap-web

  template:
    metadata:
      labels:
        app: sap-web
        try: "0"

    spec:
      containers:
        - name: sap-web

          # Do not change the image tag in the base directory.
          # These are patched by Kustomize in the kustomization.yaml files.
          # Use the Kustomization files in the  /apps/dev/* or /apps/test/* etc directories instead.

          image: ghcr.io/ssi-dk/sap-web:v0.0.24

          securityContext:
            allowPrivilegeEscalation: false

          envFrom:
            - configMapRef:
                name: sap-web-configmap

          ports:
            - containerPort: 3333
              protocol: TCP

      restartPolicy: Always
